// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.banner-image {
    max-height: 600px;
    float: right;
    margin: -30px;
}

.title-image {
    max-height: 10%;
}

.banner {
    display: flex;
    background-color: #7939F7;
    color: white;
    padding: 30px;
    flex-direction: row;
    justify-content: space-between;
}

.category-tag {
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 11px;
    padding-right: 11px;
    border-width: 1px;
    border-color: #7939F7;
    border-radius: 100px;
    margin-right: 5px;
    border-style: solid;
    color: #7939F7;
}


.post-card {
    display: flex;
    flex-direction: row;
    padding: 24px;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
}

.post-image {
    height: 400px;
    width: 400px
}

.post-width {
    margin-right: $spacing-unit * 20 
}